# Node dependencies
node_modules/

# TypeScript output
dist/
build/
out/
compiled/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / editor junk
.DS_Store
Thumbs.db
*.swp

# IDE config (optioneel, afhankelijk van wat je gebruikt)
.vscode/
.idea/

# Live-server cache
*.cache

#Backend Debug
/Backend/Debug/
/Backend/obj/Debug/
/Backend/bin/Debug/
/Backend/obj
/Backend/obj/Debug
/Backend/obj/Debug/net8.0
